<h1>All Snippets</h1>

<% @kinds.each do |kind| %>

  <% if kind.snippets.count != 0 %>
    <div>
      <%= link_to "#{kind.name} (#{ kind.snippets.count } snippets)", kind_path(kind)  %>
    </div>
  <% end %>

<% end %>
